.container01
{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

h3
{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
}

/* Direction-flex */
.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
}